<h1>bla </h1>
<table>
  <%n = 0 %>
  <% spaces.each do |space| %>

  <% if n == 0 %>
   <tr>
  <% end %>
    <td class="<%=space.coordinate %> <%= space.status %>-block"></td>
    <% if n == 9 %>
    </tr>
  <%end%>
  <% if n < 9 %>
    <% n+= 1%>
  <%else %>
    <% n = 0 %>
  <%end %>
  <%end %>
</table>
