<section>
<h1>Your Board </h1>
<table class='n'>
  <%n = 0 %>
  <%letter = 'a'%>
  <% num = 0 %>
  <% spaces.each do |space| %>
  <% if n == 0 %>
  <tr >
    <%= num += 1 %>
  </tr>
  <tr>
    <% end %>
    <td class="<%=space.coordinate %> <%= space.status %> block overlay"></td>
    <% if n == 9 %>
  </tr>
  <%end%>
  <% if n < 9 %>
  <% n+= 1%>
  <%else %>
  <% n = 0 %>
  <%end %>
  <%end %>
</table>
