<table id="player-1-btm">
<tr>
  <td class="00 block" ></td><td class="01 block" ></td><td class="02 block" ></td><td class="03 block" ></td><td class="04 block" ></td><td class="05 block" ></td><td class="06 block" ></td><td class="07 block" ></td><td class="08 block" ></td><td class="09 block" ></td>
  </tr>
  <tr>
     <td class="10 block" ></td><td class="11 block" ></td><td class="12 block" ></td><td class="13 block" ></td><td class="14 block" ></td><td class="15 block" ></td><td class="16 block" ></td><td class="17 block" ></td><td class="18 block" ></td><td class="19 block" ></td>
  </tr>
  <tr>
  <td class="20 block" ></td><td class="21 block" ></td><td class="22 block" ></td><td class="23 block" ></td><td class="24 block" ></td><td class="25 block" ></td><td class="26 block" ></td><td class="27 block" ></td><td class="28 block" ></td><td class="29 block" ></td>
  </tr>
  <tr>
    <td class="30 block" ></td><td class="31 block" ></td><td class="32 block" ></td><td class="33 block" ></td><td class="34 block" ></td><td class="35 block" ></td><td class="36 block" ></td><td class="37 block" ></td><td class="38 block" ></td><td class="39 block" ></td>
  </tr>
  <tr>
    <td class="40 block" ></td><td class="41 block" ></td><td class="42 block" ></td><td class="43 block" ></td><td class="44 block" ></td><td class="45 block" ></td><td class="46 block" ></td><td class="47 block" ></td><td class="48 block" ></td><td class="49 block" ></td>
  </tr>
  <tr>
    <td class="50 block" ></td><td class="51 block" ></td><td class="52 block" ></td><td class="53 block" ></td><td class="54 block" ></td><td class="55 block" ></td><td class="56 block" ></td><td class="57 block" ></td><td class="58 block" ></td><td class="59 block" ></td>
  </tr>
  <tr>
     <td class="60 block" ></td><td class="61 block" ></td><td class="62 block" ></td><td class="63 block" ></td><td class="64 block" ></td><td class="65 block" ></td><td class="66 block" ></td><td class="67 block" ></td><td class="68 block" ></td><td class="69 block" ></td>
  </tr>
  <tr>
     <td class="70 block" ></td><td class="71 block" ></td><td class="72 block" ></td><td class="73 block" ></td><td class="74 block" ></td><td class="75 block" ></td><td class="76 block" ></td><td class="77 block" ></td><td class="78 block" ></td><td class="79 block" ></td>
  </tr>
  <tr>
     <td class="80 block" ></td><td class="81 block" ></td><td class="82 block" ></td><td class="83 block" ></td><td class="84 block" ></td><td class="85 block" ></td><td class="86 block" ></td><td class="87 block" ></td><td class="88 block" ></td><td class="89 block" ></td>
  </tr>
  <tr>
     <td class="90 block" ></td><td class="91 block" ></td><td class="92 block" ></td><td class="93 block" ></td><td class="94 block" ></td><td class="95 block" ></td><td class="96 block" ></td><td class="97 block" ></td><td class="98 block" ></td><td class="99 block" ></td>
  </tr>
</table>




