/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .hidden {
    visibility: hidden;
 }

 .block{
    background-color: blue;
    border: 3px solid black;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.coordinates{
    border: 3px solid black;
    width: 20px;
    height: 20px;
    margin: 10px;
    text-align: center;
}

.hit{
    background-color: red;
}

.miss{
    background-color: orange;
}

.empty{
    background-color: blue;
}

.ship{
    background-color: grey;
}
.selected{
    border: 3px solid red;
}
.overlay {
    background-color :blue;
    overflow:visible;
}
